// SPDX-FileCopyrightText: 2026 Icinga GmbH <https://icinga.com>
// SPDX-License-Identifier: GPL-3.0-or-later

.totp-qr-code {
  width: 20em;
  height: 20em;
}

.totp-manual-secret {
  background-color: @gray-lighter;
  padding: @vertical-padding;
  border-radius: .25em;
  overflow-wrap: anywhere;
  user-select: all;
}
